<footer>
    <div class="footer-overlay">

    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- <h1>Vidyapun</h1> -->
                <img src="../../assets/images/logo.png" alt="Vidyapun_logo">
                <p>
                    The Vidyapun platform connect Instructors with Students globally. Instructors crate high quality courses and present them in super easy way. The Vidyapun created by stuvalley Technologies.
                </p>
                <div class="footer-social">
                    <span>
                        <i class="bi bi-facebook"></i>
                    </span>
                    <span>
                        <i class="bi bi-linkedin"></i>
                    </span>
                    <span>
                        <i class="bi bi-twitter"></i>
                    </span>
                </div>
            </div>
            
            <div class="col">
                <h5>Top Colleges</h5>
                <ul>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            Delhi
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            Mumbai
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            Hyadrabad
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            Ahmadabad
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            Pune
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <h5>
                    Top Courses
                </h5>
                <ul>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            M.Tech
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            MBA
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            MCA
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            B.Tech.
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            BBA
                        </a>
                    </li>

                </ul>
            </div>
            <div class="col">
                <h5>
                    Quick Links
                </h5>
                <ul>
                   
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            UGC
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            BCI
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            PCI
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a [routerLink]="['/about']">
                            About us
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a routerLink="['/bankaccount']" >
                            Bank Accounts
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a [routerLink]="['/contact']"     >
                            Contact Us
                        </a>
                    </li>
                    
                </ul>
            </div>
            <div class="col">
                <h5>
                    Get in touch
                </h5>
                <form action="">
                    <input type="email" placeholder="Enter Email">
                    <button>Subscribe</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span>&copy; 2021 Stuvalley Technologies. All Rights Reserved.</span>
            </div>
            <div class="col">
                <span><a [routerLink]="['/privacy']"> Privacy Policy </a>| <a [routerLink]="['/terms&condition']">Terms & Conditions</a> </span>
            </div>
        </div>
        
    </div>
</footer>