<div class="admissions-page">
   <div class="admissions-page-inner">
		<div class="row">
			   <div class="col-md-12 table">
                   <table>
						<tr>
							<th>
								College
							</th>
							<th>
								Course
							</th>
							<th>
								Applied Date
							</th>
							<th>
								Status
							</th>
						</tr>
						<tr>
							<td>
								JNU
							</td>
							<td>
								B.Ed.
							</td>
							<td>
								10/01/2020
							</td>	
							<td>
								Pending
							</td>		
						</tr>						
				   </table>	
               </div>
               </div>
               </div>
</div>
