<div class="container-fluid header">
    <div class="row">
        <div class="col">
            <h1>About Us</h1>
            <span><b>Home </b><i class="bi bi-chevron-right"></i> About Us </span>
        </div>
    </div>
</div>

<div class="container-fluid goals">
    <h5>What Do You Want To Learn?</h5>
    <h2>Achieve Your Goals With <span style="color:#bc0a2c; font-weight: 600;" > Vidya<span style="color: #0777bb;">Pun</span></span></h2>
    <div class="row">
        <div class="col">
            <div class="image-box">
                
                <img src="../../assets/images/about/hm3-cir-img-1.png.webp" alt="">
                <div class="thumbnail">
                    <i class="bi bi-people"></i>
                </div> 
            </div>
            <div class="title">
                <span>Learn The Latest Skills</span>
            </div>
            <div class="content">
                <p>
                    Morbi srragittis hendrt nulerla mis ules fusce terrmpor
                </p>
            </div>
            <div class="button">
                <a href="#">Start Now  <i class="bi bi-chevron-right"></i></a>
            </div>
        </div>
        <div class="col">
            <div class="image-box">
                
                <img src="../../assets/images/about/hm3-cir-img-2.png.webp" alt="">
                <div class="thumbnail">
                    <i class="bi bi-journal-bookmark-fill"></i>
                </div>
                
                
            </div>
            <div class="title">
                <span>Learn The Latest Skills</span>
            </div>
            <div class="content">
                <p>
                    Morbi srragittis hendrt nulerla mis ules fusce terrmpor
                </p>
            </div>
            <div class="button">
                <a href="#">Start Now  <i class="bi bi-chevron-right"></i></a>
            </div>
        </div>
        <div class="col">
            <div class="image-box">
                
                <img src="../../assets/images/about/hm3-cir-img-3.png.webp" alt="">
                <div class="thumbnail">
                    <i class="bi bi-journals"></i>
                </div>
                
                
            </div>
            <div class="title">
                <span>Learn The Latest Skills</span>
            </div>
            <div class="content">
                <p>
                    Morbi srragittis hendrt nulerla mis ules fusce terrmpor
                </p>
            </div>
            <div class="button">
                <a href="#">Start Now  <i class="bi bi-chevron-right"></i></a>
            </div>
        </div>
        <div class="col">
            <div class="image-box">
                
                <img src="../../assets/images/about/hm3-cir-img-4.png.webp" alt="">
                <div class="thumbnail">
                    <i class="bi bi-geo-alt"></i>
                </div>
                
                
            </div>
            <div class="title">
                <span>Learn The Latest Skills</span>
            </div>
            <div class="content">
                <p>
                    Morbi srragittis hendrt nulerla mis ules fusce terrmpor
                </p>
            </div>
            <div class="button">
                <a href="#">Start Now  <i class="bi bi-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid abtVidyapun">

    <div class="row">
        <div class="col" style="padding-right:50px;">
            <h4>About

                <span style="color:#bc0a2c; font-weight: 600;" > Vidya<span style="color: #0777bb;">Pun</span></span>
            </h4>
            <h3>Build Skills With Experts Anytime Anywhere? With Largest Selection Of Courses</h3>
            <p>
                Morbi sagittis hendrt nulla mis ultricies. Fusce tempor, tortor et vehicula posuere, cras en diam pismi est iaculis quam majority have suffered. alteration in some form, by injected humour.
            </p>
            <div class="row">
                <div class="col">
                    <div style="display:flex ; align-items: center; color: navy;padding-bottom: 10px;">
                        <span style="display:inline-flex ;width:7px; height:7px; background: #387eff; margin-right: 10px;"></span>
                        Learn From Experts
                    </div>
                    <div style="display:flex ; align-items: center; color: navy;padding-bottom: 10px;">
                        <span style="display:inline-flex ;width:7px; height:7px; background: #387eff;margin-right: 10px;"></span>
                        Go At Your Own Pace
                    </div>
                    <div style="display:flex ; align-items: center;color: navy;padding-bottom: 10px;">
                        <span style="display:inline-flex ;width:7px; height:7px; background: #387eff;margin-right: 10px;"></span>
                        Learn at all Levels
                    </div>
                </div>
                <div class="col">
                    <div style="display:flex ; align-items: center; color: navy;padding-bottom: 10px;">
                        <span style="display:inline-flex ;width:7px; height:7px; background: #387eff;margin-right: 10px;"></span>
                        12,000+ Online Courses
                    </div>
                    <div style="display:flex ; align-items: center; color: navy;padding-bottom: 10px;">
                        <span style="display:inline-flex ;width:7px; height:7px; background: #387eff;margin-right: 10px;"></span>
                        Lifetime Access
                    </div>
                    <div style="display:flex ; align-items: center; color: navy;padding-bottom: 10px;">
                        <span style="display:inline-flex ;width:7px; height:7px; background: #387eff; margin-right: 10px;"></span>
                        Quality Content
                    </div>
                </div>  
            </div>
        </div>
        <div class="col">
            <img src="../../assets/images/about/abt-two-img5.jpg.webp" alt="">
            <div  class ="cas">
                <h4>
                    2,589+
                </h4>
                    Courses And Specialization
            </div>
        </div>
    </div>
</div>

<div class="container-fluid benefits">
    <div class="row" style="margin-top:50px ;margin-bottom:50px;display:flex ;justify-content:center;align-items:center;flex-direction: column;">
        <!-- <div class="col" style="display:flex ;justify-content:center;align-items:center;flex-direction: column;">
        </div> -->
        <h5>Vidyapun Benifits</h5>
        <h2>Limitless Learning And Get More Possibilities</h2>
        <p>52+ million people are already learning on vidyapun</p>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col" style="display: flex; justify-content:center;align-items:center;max-width: 200px;">
                    <div class="image-box">
                        <img src="../../assets/images/about/abt-two-img1.jpg.webp" alt="">
                    </div>
                </div>
                <div class="col">
                    <h5>Explore What Do You Want?</h5>
                    <p>They don’t seem to know if they should stay in their current role or make a move. Then I ask them a very specific question: “What do you want?”</p>
                    <div class="button">
                        <a href="#">Find Out More  <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col" style="display: flex; justify-content:center;align-items:center;max-width: 200px;">
                    <div class="image-box">
                        <img src="../../assets/images/about/abt-two-img2.jpg.webp" alt="">
                    </div>
                </div>
                <div class="col">
                    <h5>Learn From Industry Experts</h5>
                    <p> Establish a position of thought leadership amongst your peers, there are some things you can do that can help you get ahead of your closest competition.</p>
                    <div class="button">
                        <a href="#">Find Out More  <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col" style="display: flex; justify-content:center;align-items:center;max-width: 200px;">
                    <div class="image-box">
                        <img src="../../assets/images/about/abt-two-img3.jpg.webp" alt="">
                    </div>
                </div>
                <div class="col">
                    <h5>Learn In Your Own Pace</h5>
                    <p>Self-paced learning means you can learn in your own time and schedule. You don't need to complete the same assignments or learn at the same time as others.</p>
                    <div class="button">
                        <a href="#">Find Out More  <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col" style="display: flex; justify-content:center;align-items:center;max-width: 200px;">
                    <div class="image-box">
                        <img src="../../assets/images/about/abt-two-img4.jpg.webp" alt="">
                    </div>
                </div>
                <div class="col">
                    <h5>Lifetime Access</h5>
                    <p>One of the best things about Udemy is that you can login to your account from virtually anywhere, whenever you want, and access your courses easily!</p>
                    <div class="button">
                        <a href="#">Find Out More  <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid testimonials">

    <div class="row">
        <div class="col" style="max-width:400px ;">
            <h5>Testimonials</h5>
            <h2>What Say 25,000+ Happy Students</h2>
            <p>
                Fusce tempor, tortor et vehicula posuere, mi est iaculis quam, nec luctus enim erat non augue, nunc accumsan sem nec luctus enim erat non augue
            </p>
        </div>
        <div class="col">
            
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" style="height:300px;">
                      <div class="carousel-item active">
                        <div class="row">
                            <div class="col d-flex justify-content-center align-items-center">
                               
                               <div class="testimonialsCard">

                                    <div class="row">
                                        <div class="col">
                                            <h6>
                                                Customer Support
                                                <span>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </span>
                                            </h6>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic dolorem voluptas dolores!
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <img src="../../assets/images/about/28.jpg.webp" alt="">
                                        </div>
                                        <div class="col">
                                            <h6>Kim Thomas</h6>
                                            <p>Digital Marketting, India</p>
                                        </div>
                                    </div>
                               </div>

                    
                            </div>
                            <div class="col d-flex justify-content-center align-items-center">
                                <div class="testimonialsCard">

                                    <div class="row">
                                        <div class="col">
                                            <h6>
                                                Customer Support
                                                <span>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </span>
                                            </h6>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic dolorem voluptas dolores!
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <img src="../../assets/images/about/28.jpg.webp" alt="">
                                        </div>
                                        <div class="col">
                                            <h6>Kim Thomas</h6>
                                            <p>Digital Marketting, India</p>
                                        </div>
                                    </div>
                               </div>
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row">
                            <div class="col d-flex justify-content-center align-items-center">
                                <div class="testimonialsCard">

                                    <div class="row">
                                        <div class="col">
                                            <h6>
                                                Customer Support
                                                <span>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </span>
                                            </h6>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic dolorem voluptas dolores!
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <img src="../../assets/images/about/30.jpg.webp" alt="">
                                        </div>
                                        <div class="col">
                                            <h6>Kim Thomas</h6>
                                            <p>Digital Marketting, Inddia</p>
                                        </div>
                                    </div>
                               </div>
                            </div>
                            <div class="col d-flex justify-content-center align-items-center">
                                <div class="testimonialsCard">

                                    <div class="row">
                                        <div class="col">
                                            <h6>
                                                Customer Support
                                                <span>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </span>
                                            </h6>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic dolorem voluptas dolores!
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <img src="../../assets/images/about/31.jpg.webp" alt="">
                                        </div>
                                        <div class="col">
                                            <h6>Kim Thomas</h6>
                                            <p>Digital Marketting, Inddia</p>
                                        </div>
                                    </div>
                               </div>
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row">
                            <div class="col d-flex justify-content-center align-items-center">
                                <div class="testimonialsCard">

                                    <div class="row">
                                        <div class="col">
                                            <h6>
                                                Great Coading
                                                <span>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </span>
                                            </h6>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic dolorem voluptas dolores!
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <img src="../../assets/images/about/31.jpg.webp" alt="">
                                        </div>
                                        <div class="col">
                                            <h6>Kim Thomas</h6>
                                            <p>Digital Marketting, Inddia</p>
                                        </div>
                                    </div>
                               </div>
                            </div>
                            <div class="col d-flex justify-content-center align-items-center">
                                <div class="testimonialsCard">

                                    <div class="row">
                                        <div class="col">
                                            <h6>
                                                Great Work!
                                                <span>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </span>
                                            </h6>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic dolorem voluptas dolores!
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <img src="../../assets/images/about/28.jpg.webp" alt="">
                                        </div>
                                        <div class="col">
                                            <h6>Kim Thomas</h6>
                                            <p>Digital Marketting, Inddia</p>
                                        </div>
                                    </div>
                               </div>
                            </div>
                        </div>
                      </div>
                    </div>
                   <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev" style="border: none; background: none; ">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next" style="border: none;background: none;">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </button>
                  </div>

        </div>
    </div>


</div>

