<div class="container-fluid header">
    <div class="row">
        <div class="col">
            <h1>Contact Us</h1>
            <span><b>Home </b><i class="bi bi-chevron-right"></i> Contact Us </span>
        </div>
    </div>
</div>

<div class="container-fluid contactUs">
    <div class="row">
        <div class="col d-flex align-items-center justify-content-center" style="box-shadow: none;">

            <h3>Our Contacts</h3>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex flex-column align-items-center p-10 pt-3">
            <span><i class="bi bi-geo-alt"></i></span>
            <p>Our Location</p>
            <p>M-13, OLD DLF COLONY SEC-14,<BR/> GURUGRAM -122001<BR/>HARYANA</p>
        </div>
        <div class="col d-flex flex-column align-items-center p-10 pt-3">
            <span><i class="bi bi-telephone"></i></span>
            <p>Call Us to Join Vidyapun</p>
            <p><a href="tel:+1244252196"> 0124-4252-196</a></p>
        </div>
        <div class="col d-flex flex-column align-items-center p-10 pt-3">
            <span><i class="bi bi-envelope"></i></span>
            <p>Email Us To Get Information</p>
            <p><a href="mailto:info@vidyapun.com">info@vidyapun.com</a></p>
        </div>
    </div>
</div>

<div class="container-fluid contactForm">
    <div class="row">
        <div class="col">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d876.8269117320543!2d77.04474532916304!3d28.470280277822926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d19ce570e5643%3A0xecf718c8d50f8283!2sStuvalley%20-%20Education%20Consultant!5e0!3m2!1sen!2sin!4v1663327231139!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col">
            <h3>
                Send Us Your Message
            </h3>
            <p>
                Feel free to write about your question and we’ll reply with suggestion within 24 hrs.
            </p>
            <form>
                <div class="mb-3">
                    <label for="exampleInputName" class="form-label">Name</label>
                    <input type="text" class="form-control" id="">
        
                  </div>
                <div class="mb-3">
                  <label for="exampleInputEmail" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="" >
               
                </div>
                <div class="mb-3">
                    <label for="exampleInputContact" class="form-label">Contact</label>
                    <input type="text" class="form-control" id="">
                  
                </div>
                <div class="mb-3">
                    <label for="exampleInputContact" class="form-label">Message</label>
                    <textarea type="textarea" class="form-control" id=""></textarea>
                  
                </div>
            
               <div class="row d-flex flex-column align-items-center">
                   <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
        </div>
    </div>
</div>