<mat-card>
  <mat-card-content class="detail-section card">
    <div class="image-date">   
      <img class="product-image" onError="this.src='assets/images/collage.jpg'"
       src="{{imageBasePath}}{{colleges.bannerLogo?colleges.bannerLogo:'assets/images/collage.jpg'}}"
        alt=""
      />
      <div class="title">
        <h3> {{colleges.name}} - {{colleges.cityName}} </h3>
      </div>
    </div>

    <div class="card-data-section">
       <div class="location">
         <ul>
           <li><i class="fa fa-map-marker" aria-hidden="true"></i>{{colleges.cityName}} ({{colleges.stateName}}), {{colleges.countryName}}</li>
           <!--<li><i class="fa fa-home" aria-hidden="true"></i>MCI, UGC </li>-->
         </ul>
      
      </div>
      <div  class="card-logo" style="width:40px;height:40px;">
        <img mat-card-image draggable="false" class="author_avatar" onError="this.src='assets/images/collage_logo.png'"
		  src="{{imageBasePath}}{{colleges.photo?colleges.photo:'assets/images/collage_logo.png'}}"
        />
      </div>
     
      <!--<div class="card-main-detail">
        <ul class="listing-price">
          <li>
            <span class="lr-key">₹ 1,628  </span>
            <span class="lr-value" title="MBBS- FIRST YEAR FEES"> ME/M.Tech -</span>
          </li>
          <li>
            <span class="lr-key">₹ 1,628  </span>
            <span class="lr-value" title="MBBS- FIRST YEAR FEES">Exam Accepted</span>
          </li>
          <li>
            <span class="lr-key">₹ 1,628  </span>
            <span class="lr-value" title="MBBS- FIRST YEAR FEES">Based on 40 User reviews</span>
          </li>
        </ul>
        <div class="media-rank">
          <span class="rank-container">
            <span class="rank-span">Ranked 39 out of 200 
                   <div class="rank-name"> NIRF </div>
            </span>
          </span>
          <span class="rank-container">
            <span class="rank-span">Ranked 39 out of 200 
                   <div class="rank-name"> NIRF </div>
            </span>
          </span>
          </div>
        

       
      </div>-->
    </div>
  </mat-card-content>

</mat-card>
