<div class="professorresearchdashboard-page">
	<div class="professorresearchdashboard-page-inner">
		 <h3 style="padding-left:15px;">Journal Article</h3>
		 <div class="row" style="margin-top:-30px;">			
			<div class="col-md-3">
				<div class="box">
					<a style="margin: 0 auto;">
						<div class="circle">10</div>
						<div class="fontStyle">Scopus</div>
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="box">
					<a style="margin: 0 auto;">
						<div class="circle">10</div>
						<div class="fontStyle">SCI</div>
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="box">
					<a style="margin: 0 auto;">
						<div class="circle">10</div>
						<div class="fontStyle">ESCI</div>
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="box">
					<a style="margin: 0 auto;">
						<div class="circle" style="margin-left:60px">100</div>
						<div class="fontStyle">Refered/Peer Reviewed</div>
					</a>
				</div>
			</div>
		</div>
		<h3 style="padding-left:15px; padding-top:25px;">Conference</h3>
		<div class="row" style="margin-top:-30px;">	
			<div class="col-md-4">
				<div class="box">
					<a flex style="margin: 0 auto;">
						<div class="circle">110</div>
						<div class="fontStyle">Total</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box">
					<a  style="margin: 0 auto;">
						<div class="circle" style="margin-left:15px">10</div>
						<div class="fontStyle">National</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box">
					<a style="margin: 0 auto;">
						<div class="circle" style="margin-left:20px">100</div>
						<div class="fontStyle">International</div>
					</a>
				</div>
			</div>
		 </div>
		 <h3 style="padding-left:15px; padding-top:25px;">Seminar</h3>
		<div class="row" style="margin-top:-30px;">		
			<div class="col-md-4">
				<div class="box">
					<a flex style="margin: 0 auto;">
						<div class="circle">110</div>
						<div class="fontStyle">Total</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box">
					<a  style="margin: 0 auto;">
						<div class="circle" style="margin-left:15px">10</div>
						<div class="fontStyle">Attended</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box">
					<a style="margin: 0 auto;">
						<div class="circle" style="margin-left:20px">100</div>
						<div class="fontStyle">Organized</div>
					</a>
				</div>
			</div>
		 </div>
		 <h3 style="padding-left:15px; padding-top:25px;">FDP</h3>
		<div class="row" style="margin-top:-30px;">		
			<div class="col-md-4">
				<div class="box">
					<a flex style="margin: 0 auto;">
						<div class="circle">110</div>
						<div class="fontStyle">Total</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box">
					<a  style="margin: 0 auto;">
						<div class="circle" style="margin-left:15px">10</div>
						<div class="fontStyle">Attended</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box">
					<a style="margin: 0 auto;">
						<div class="circle" style="margin-left:20px">100</div>
						<div class="fontStyle">Organized</div>
					</a>
				</div>
			</div>
		 </div>
		 <h3 style="padding-left:15px; padding-top:25px;">Workshop</h3>
		<div class="row" style="margin-top:-30px;">		
			<div class="col-md-4">
				<div class="box">
					<a flex style="margin: 0 auto;">
						<div class="circle">110</div>
						<div class="fontStyle">Total</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box">
					<a  style="margin: 0 auto;">
						<div class="circle" style="margin-left:15px">10</div>
						<div class="fontStyle">Attended</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box">
					<a style="margin: 0 auto;">
						<div class="circle" style="margin-left:20px">100</div>
						<div class="fontStyle">Organized</div>
					</a>
				</div>
			</div>
		 </div>
		 <h3 style="padding-left:15px; padding-top:25px;">Training / Spl. Course</h3>
		<div class="row" style="margin-top:-30px;">		
			<div class="col-md-4">
				<div class="box">
					<a flex style="margin: 0 auto;">
						<div class="circle">110</div>
						<div class="fontStyle">Total</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box">
					<a  style="margin: 0 auto;">
						<div class="circle" style="margin-left:15px">10</div>
						<div class="fontStyle">Attended</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box">
					<a style="margin: 0 auto;">
						<div class="circle" style="margin-left:20px">100</div>
						<div class="fontStyle">Organized</div>
					</a>
				</div>
			</div>
		 </div>
		 <h3 style="padding-left:15px; padding-top:25px;">Patent</h3>
		<div class="row" style="margin-top:-30px;">		
			<div class="col-md-4">
				<div class="box">
					<a flex style="margin: 0 auto;">
						<div class="circle">110</div>
						<div class="fontStyle">Total</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box">
					<a  style="margin: 0 auto;">
						<div class="circle" style="margin-left:15px">10</div>
						<div class="fontStyle">Filed</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box">
					<a style="margin: 0 auto;">
						<div class="circle" style="margin-left:20px">100</div>
						<div class="fontStyle">Awarded</div>
					</a>
				</div>
			</div>
		 </div>
		 <h3 style="padding-left:15px; padding-top:25px;">No. of Master Thesis Guided(M.Tech/M.Pharma/M.Phil)</h3>
		<div class="row" style="margin-top:-30px;">	
			<div class="col-md-4">
				<div class="box">
					<a flex style="margin: 0 auto;">
						<div class="circle">110</div>
						<div class="fontStyle">Total</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box">
					<a  style="margin: 0 auto;">
						<div class="circle" style="margin-left:15px">10</div>
						<div class="fontStyle">Awarded</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box">
					<a style="margin: 0 auto;">
						<div class="circle" style="margin-left:20px">100</div>
						<div class="fontStyle">InProcess</div>
					</a>
				</div>
			</div>			
		 </div>
		 <h3 style="padding-left:15px; padding-top:25px;">No. of Ph.D</h3>
		<div class="row" style="margin-top:-30px;">	
			<div class="col-md-4">
				<div class="box">
					<a flex style="margin: 0 auto;">
						<div class="circle">110</div>
						<div class="fontStyle">Total</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box">
					<a  style="margin: 0 auto;">
						<div class="circle" style="margin-left:15px">10</div>
						<div class="fontStyle">Awarded</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box">
					<a style="margin: 0 auto;">
						<div class="circle" style="margin-left:20px">100</div>
						<div class="fontStyle">InProcess</div>
					</a>
				</div>
			</div>			
		 </div>
		 
		<div class="row">	
			<div class="col-md-4">
				<h3 style="padding-left:15px; padding-top:25px;">Lab Established</h3>
				<div class="box" style="margin-top:-10px;">
					<a flex style="margin: 0 auto;">
						<div class="circle">110</div>
						<div class="fontStyle">Total</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<h3 style="padding-left:15px; padding-top:25px;">Consultancy Work</h3>
				<div class="box" style="margin-top:-10px;">
					<a flex style="margin: 0 auto;">
						<div class="circle">90</div>
						<div class="fontStyle">Total</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<h3 style="padding-left:15px; padding-top:25px; font-size:25px;">Reviewer/Editor Board Member</h3>
				<div class="box" style="margin-top:-10px;">
					<a flex style="margin: 0 auto;">
						<div class="circle">100</div>
						<div class="fontStyle">Total</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<h3 style="padding-left:15px; padding-top:25px;">Book Publised</h3>
				<div class="box" style="margin-top:-10px;">
					<a flex style="margin: 0 auto;">
						<div class="circle">120</div>
						<div class="fontStyle">Total</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<h3 style="padding-left:15px; padding-top:25px;">Chapter Published</h3>
				<div class="box" style="margin-top:-10px;">
					<a flex style="margin: 0 auto;">
						<div class="circle">80</div>
						<div class="fontStyle">Total</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<h3 style="padding-left:15px; padding-top:25px;">Membership</h3>
				<div class="box" style="margin-top:-10px;">
					<a flex style="margin: 0 auto;">
						<div class="circle">70</div>
						<div class="fontStyle">Total</div>
					</a>
				</div>
			</div>
		 </div>
		 
		 
		
		 
		
	</div>
</div>