<div class="dashboard-page">
	<div class="dashboard-page-inner">
		 <div class="row">
			<div class="col-md-3">
				<div class="box">
					<a style="margin: 0 auto;">
						<img alt="" class="boxImage" src="assets/icon/user-3296.png"><br/>
						<div class="fontStyle">Profile / Update Profile</div>
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="box">
					<a>
						<img class="boxImage" alt="" src="assets/icon/zoom-logo-4475.png"><br/>
						<div class="fontStyle">Video Byte</div>
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="box">
					<a style="margin: 0 auto;" [routerLink]="['/user-home/careerDevelopment']" >
						<img alt="" class="boxImage" src="assets/icon/user-3296.png"><br/>
						<div class="fontStyle">Career Development</div>
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="box">
					<a>
						<img class="boxImage" alt="" src="assets/icon/zoom-logo-4475.png"><br/>
						<div class="fontStyle">Choose Your Career/Profession</div>
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="box">
					<a>
						<img class="boxImage" alt="" src="assets/icon/zoom-logo-4475.png"><br/>
						<div class="fontStyle">Career Mapping/Counselling</div>
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="box">
					<a>
						<img class="boxImage" alt="" src="assets/icon/feedback-message-4644.png"><br/>
						<div class="fontStyle">Feedback / Recommendation</div>
					</a>
				</div>
			</div>			
			<div class="col-md-3">
				<div class="box">
					<a>
						<img class="boxImage" alt="" src="assets/icon/talking-4258.png"><br/>
						<div class="fontStyle">Soft Skill</div>
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="box">
					<a>
						<img class="boxImage" alt="" src="assets/icon/factory-1067.png"><br/>
						<div class="fontStyle">Industry / Work Skills</div>						
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="box">
					<a>
						<img class="boxImage" alt="" src="assets/icon/chat-support-1721.png"><br/>
						<div class="fontStyle">Communication skill</div>						
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="box">
					<a>
						<img class="boxImage" alt="" src="assets/icon/gdpr-personal-data-security-1750.png"><br/>
						<div class="fontStyle">Personality Development</div>						
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="box">
					<a>
						<img class="boxImage" alt="" src="assets/icon/online-education-7540.png"><br/>
						<div class="fontStyle">Research Support</div>
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="box">
					<a>
						<img class="boxImage" alt="" src="assets/icon/online-education-7540.png"><br/>
						<div class="fontStyle">Internship / Training</div>
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="box">
					<a>
						<img class="boxImage" alt="" src="assets/icon/online-education-7550.png"><br/>
						<div class="fontStyle">Short Term Course / Certificate</div>						
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="box">
					<a>
						<img class="boxImage" alt="" src="assets/icon/briefcase-5745.png"><br/>
						<div class="fontStyle">Resume Writing</div>						
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="box">
					<a>
						<img class="boxImage" alt="" src="assets/icon/feedback-message-4644.png"><br/>
						<div class="fontStyle">List of Companies</div>
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="box">
					<a>
						<img class="boxImage" alt="" src="assets/icon/feedback-message-4644.png"><br/>
						<div class="fontStyle">Profile of Companies</div>
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="box">
					<a>
						<img class="boxImage" alt="" src="assets/icon/notification-bell-5743.png"><br/>
						<div class="fontStyle">Apply for Job</div>						
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="box">
					<a>
						<img class="boxImage" alt="" src="assets/icon/notification-bell-5743.png"><br/>
						<div class="fontStyle">Job Notification / Recommendation</div>						
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="box">
					<a>
						<img class="boxImage" alt="" src="assets/icon/enneagram-3306.png"><br/>
						<div class="fontStyle">Interview Call</div>						
					</a>
				</div>
			</div>			
		 </div>
	</div>
</div>